/* partials/section1 css  */
body{
    /* background-color: rgb(223, 223, 223); */
    background-color: rgb(238, 238, 238);
}
.btn-black{
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 9px;
    width: auto; 
    min-width: 150px; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
}
.btn-blue{
    background-color: rgb(1, 35, 46);
    padding: 10px;
    color: white;
    border-radius: 9px;
    width: auto; 
    min-width: 150px; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
}
.btn-blue:hover{
    background-color: rgb(1, 35, 46) !important;
    padding: 10px;
    color: white !important;
    border-radius: 9px;
    width: auto; 
    min-width: 150px; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
}
.btn-disabled{
    background-color: rgb(61, 60, 66);
    padding: 10px;
    color: white;
    border-radius: 9px;
    width: auto; 
    min-width: 150px; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
}
.btn-black-sm{
    background-color: rgb(1, 35, 46);
    padding: 7px;
    color: white;
    border-radius: 9px;
    width: auto; 
    min-width: 90px; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
}
.btn-outline{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 9px;
    border: 1px solid black;
    width: auto; 
    min-width: 150px; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
}

.btn-outline-blank{
    background-color:none;
    /* padding: 6px; */
    color:white;
    border-radius: 12px;
    border: 2px solid white;
    width: auto; 
    min-width: 150px; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
    margin-left: 24px;
}
.btn-outline-blank:hover{
    background-color:white;
    /* padding: 6px; */
    color:black;
    border-radius: 12px;
    border: 2px solid white;
    width: auto; 
    min-width: 150px; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
    margin-left: 24px;
}

.datatable-btn{
    background-color:rgb(1, 35, 46);
    padding: 5px;
    color: white;
    border-radius: 9px;
    width: auto; 
    min-width: 90px; 
    text-decoration: none; 
    display: inline-block; 
    text-align: center;
}

#section1Carousal {
    height: 500px !important;
}

.carousel-item img {
    max-height: 200px;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    bottom: 300px;
    left: 50px;
    right: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%; 
    text-align: center;
    font-size: 30px;
}

.carousel-caption h3, .carousel-caption p {
    margin: 0;
}

/* end here */
 
/* FP side fleet index css  */
.table-card{
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 20px;
    width: 100%;

}
.table-image {
    width: 120px;  /* Adjust as per your requirement */
    height: 50px;
    object-fit: cover;  /* Ensures the image aspect ratio is maintained */
    border-radius: 10px;  /* Round the corners */
}
.create-fleet{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
}
.edit-fleet{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
}

/* end here */

/* landing page css */
.cards_container{
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 20px;
    margin-top: 50px;
    min-height: 500px;
}
.left_container{
    border-radius: 20px;
    min-height: 450px;
}
.right_container{
    border-radius: 20px;
    min-height: 450px;
}
.right_container_image{
    border-radius: 16px;
}
.explore_more_section{
    margin-bottom: 50px;
}
.modal-dialog {
    margin-top: 20vh;
}


/* end here */

.profile_settings_container{
    background-color: white;
    padding: 20px;
    border-radius: 20px;

}

.users_index_container{
    background-color: white;
    padding: 20px;
    border-radius: 20px;

}

.user-create-container{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.role_index_container{
    background-color: white;
    padding: 20px;
    border-radius: 20px;

}
.main-page-container{
    background-color: white;
    padding: 25px;
    border-radius: 25px;
    width: 1800px !important;
}

.login-container{
    width: 500px;
}
.register-container{
    width: 500px;
    margin-top: 40px;

}

.user_validation_msg {
    background-color: red;
    height: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    width: 100%;
    transition: all 0.5s ease;
}

.user_validation_msg.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}



.user_validation_page_container{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

.verification_request_container{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
}

.swal2-confirm{
    background-color:rgb(1, 35, 46);
}
.swal2-icon{
    color:rgb(1, 35, 46);
    border-color:rgb(1, 35, 46) ;
}
.swal2-icon.swal2-warning{
    color:rgb(1, 35, 46);
    border-color:rgb(1, 35, 46) ;
}
.swal2-loading {
    color:rgb(1, 35, 46);
}



thead, tbody, tfoot, tr, td, th{
    border-style: none;
}
.table-striped > tbody > tr:nth-of-type(odd) {
background-color: transparent;
}

table.dataTable thead th, table.dataTable thead td{
    background-color:  rgb(1, 35, 46);
color: white;
}
.dataTables_wrapper .dataTables_filter input{
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 5px;
    padding-left: 10px;
}

/* booking modals  */
.back-btn-container{
    margin-left: 16px;
}
.bookings-container{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
}
.form-control:focus{
    box-shadow:none !important;
    border: 1px solid black !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important; /* optional: sets text color */
    transition: background-color 5000s ease-in-out 0s;
}
